.btn-primary-spacing 
{
margin-right: 5px;
margin-bottom: 5px !important;
}
.img-center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}
.bg{
    background-color: #D5E2E9;
    max-height: 700px;
    height: 500px;
    margin-top: 50px;
}
.table{
    background-color: white;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 15px;
}
.tri{
    text-align: center!important;
}
.vl {
    border-left: 2px solid #b2b4b7;
    height: 30px;
  }
 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #2196F3;
    }
    
    blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #2196F3;
    }
  